/.idea/
/iac/.terraform
iac/.terraform.lock.hcl
iac/.terraform.tfstate.lock.info
iac/security-groups.tf
iac/terraform.tfstate
iac/terraform.tfstate.backup
jenkins-cli.jar
backend/target
.env
.env.secrets